:root{
    --light:#d8dbe0;
    --dark:#28292c;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(38, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toggle-switch{
    position: relative;
    width: 200px;

}

label{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
}

.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
     
}

input:checked ~ .slider{
    background-color: var(--light);

}

.slider::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 16px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--dark);

    /* them box-shadow de che 1 phan hinh tron */
    /* dung inset de do bong ben trong phan tu */
    box-shadow: inset 20px 0px 0px 0px var(--light);
    transition: 0.3s;
}

input:checked ~ .slider::before{
    transform: translateX(95px);
    background-color: var(--dark);
    box-shadow: none;
}


body:has(:checked){
    background-color: #fff;
}