.avatar{
    width: 120px;
    height: 120px;

    border-radius: 50%;
    border: 1px solid chocolate;
    margin-left: -70px;
    
}
.avatar:first-of-type{
    margin-left: 0px;
}
.content{
    background-color: yellow;
    padding: 20px;
}