.box{
    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
    width: 200px;
    height: 200px;

    border: 50px dotted red;
    /* background-color: cyan;
    background-image: url(../img/1.PNG); */

    /* background-position: vi tri bat dau dat anh */
    /* background-position: top right;
    background-position: top left;
    background-position: bottom right;
    background-position: bottom left;
    background-position: right;
    background-position: left;
    background-position: top;
    background-position: bottom;
    background-position: center; */

    /* background-position: Don vi % */
    /* background-position: 0 100%; */


    /* BACKGROUND-SIZE mac dinh hien thi hinh anh theo kinh thuoc that 1:1 */
    /* background-size: contain;
    background-size: cover; */

     /* BACKGROUND-REPEAT */
     /* background-repeat: repeat;
     background-repeat: no-repeat; */

     /* background-origin: sac dinh goc buc anh o vi tri nao; */
     /* background-origin: padding-box;
     background-origin: border-box;
     background-origin: content-box; */


    /* background-clip:  */
    /* background-clip: border-box;
    background-clip: padding-box;
    background-clip: content-box; */

     /* background-attachment:  */
    /* background-attachment: fixed;
    background-attachment: scroll; 
    background-attachment: local; 
     */


    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/

    background: chocolate url(../img/1.PNG) center / contain no-repeat padding-box border-box fixed; 

    }