:root{
    
    --box-font-size:2rem;
    --box-height:200px;
    --box-width:200px;
    --box-color:white;
    --box-border-radius:1rem;
    --box-background-color: #fcf;
    --box-margin-bottom:10px;
}

.box{
    font-size: var(--box-font-size);
    color: var(--box-color);
    height: var(--box-height);
    width: var(--box-width);
    /* Can giua text cac khoi  */
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    width: 700px;
    height: 700px;
    background-color: chocolate;
    position: relative;
}

.content{
    background-color:cyan;
    width: 400px;
    margin: 40px;
    /* position: relative; */
}

.box1{
    background-color: red;

}

.box2{
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;


}

.box3{
    background-color: blue;

}
h1{
    background-color: coral;
}