.btn{
    width: 200px;
    height: 40px;
    background-color: rgb(33, 59, 7);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;

    /* transition-duration: 0.5s; */
    /* transition-property: background-color,color; */
    /* transition-delay: 3s; */
    /* transition-timing-function: cubic-bezier(.17,.67,.36,.89); */
     transition: all ease-in 0.5s 3s;
}

.btn:hover{
    color: yellow;
    background-color: red;
}