#thanh{
    /* font-size: 20px;
    background-color: aqua;
    color: black; */
}


.myClass{
    font-size: 36px;
    color: chartreuse;
    background-color: chocolate;
}

.act{
    background-color: coral;
    font-size: 50px;
    color: cornflowerblue;
}